In [1]:
library(corrplot)
library(ggplot2)
library(dplyr)
require(plyr)
library(readr)

Warning message:
"package 'corrplot' was built under R version 4.3.2"
corrplot 0.92 loaded


Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Loading required package: plyr

------------------------------------------------------------------------------

You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)

------------------------------------------------------------------------------


Attaching package: 'plyr'


The following objects are masked from 'package:dplyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

In [3]:
df <- read.csv('https://raw.githubusercontent.com/austinbarish/anly5300-project-group-7/main/data/academic-success.csv', sep=";")
head(df)
summary(df)
str(df)

  Marital.status Application.mode Application.order Course
1 1              17               5                  171
2 1              15               1                 9254
3 1               1               5                 9070
4 1              17               2                 9773
5 2              39               1                 8014
6 2              39               1                 9991
  Daytime.evening.attendance. Previous.qualification
1 1                            1
2 1                            1
3 1                            1
4 1                            1
5 0                            1
6 0                           19
  Previous.qualification..grade. Nacionality Mother.s.qualification
1 122.0                          1           19
2 160.0                          1            1
3 122.0                          1           37
4 122.0                          1           38
5 100.0                          1           37
6 133.1                          1           37
  Father.s.qualification ⋯ Curricular.units.2nd.sem..credited.
1 12                     ⋯ 0
2  3                     ⋯ 0
3 37                     ⋯ 0
4 37                     ⋯ 0
5 38                     ⋯ 0
6 37                     ⋯ 0
  Curricular.units.2nd.sem..enrolled. Curricular.units.2nd.sem..evaluations.
1 0                                    0
2 6                                    6
3 6                                    0
4 6                                   10
5 6                                    6
6 5                                   17
  Curricular.units.2nd.sem..approved. Curricular.units.2nd.sem..grade.
1 0                                    0.00000
2 6                                   13.66667
3 0                                    0.00000
4 5                                   12.40000
5 6                                   13.00000
6 5                                   11.50000
  Curricular.units.2nd.sem..without.evaluations. Unemployment.rate
1 0                                              10.8
2 0                                              13.9
3 0                                              10.8
4 0                                               9.4
5 0                                              13.9
6 5                                              16.2
  Inflation.rate GDP   Target
1  1.4            1.74 Dropout
2 -0.3            0.79 Graduate
3  1.4            1.74 Dropout
4 -0.8           -3.12 Graduate
5 -0.3            0.79 Graduate
6  0.3           -0.92 Graduate

 Marital.status  Application.mode Application.order     Course
 Min.   :1.000   Min.   : 1.00    Min.   :0.000     Min.   :  33
 1st Qu.:1.000   1st Qu.: 1.00    1st Qu.:1.000     1st Qu.:9085
 Median :1.000   Median :17.00    Median :1.000     Median :9238
 Mean   :1.179   Mean   :18.67    Mean   :1.728     Mean   :8857
 3rd Qu.:1.000   3rd Qu.:39.00    3rd Qu.:2.000     3rd Qu.:9556
 Max.   :6.000   Max.   :57.00    Max.   :9.000     Max.   :9991
 Daytime.evening.attendance. Previous.qualification
 Min.   :0.0000              Min.   : 1.000
 1st Qu.:1.0000              1st Qu.: 1.000
 Median :1.0000              Median : 1.000
 Mean   :0.8908              Mean   : 4.578
 3rd Qu.:1.0000              3rd Qu.: 1.000
 Max.   :1.0000              Max.   :43.000
 Previous.qualification..grade.  Nacionality      Mother.s.qualification
 Min.   : 95.0                  Min.   :  1.000   Min.   : 1.00
 1st Qu.:125.0                  1st Qu.:  1.000   1st Qu.: 2.00
 Median :133.1                  Median :  1.000   Median :19.00
 Mean   :132.6                  Mean   :  1.873   Mean   :19.56
 3rd Qu.:140.0                  3rd Qu.:  1.000   3rd Qu.:37.00
 Max.   :190.0                  Max.   :109.000   Max.   :44.00
 Father.s.qualification Mother.s.occupation Father.s.occupation Admission.grade
 Min.   : 1.00          Min.   :  0.00      Min.   :  0.00      Min.   : 95.0
 1st Qu.: 3.00          1st Qu.:  4.00      1st Qu.:  4.00      1st Qu.:117.9
 Median :19.00          Median :  5.00      Median :  7.00      Median :126.1
 Mean   :22.28          Mean   : 10.96      Mean   : 11.03      Mean   :127.0
 3rd Qu.:37.00          3rd Qu.:  9.00      3rd Qu.:  9.00      3rd Qu.:134.8
 Max.   :44.00          Max.   :194.00      Max.   :195.00      Max.   :190.0
   Displaced      Educational.special.needs     Debtor
 Min.   :0.0000   Min.   :0.00000           Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.00000           1st Qu.:0.0000
 Median :1.0000   Median :0.00000           Median :0.0000
 Mean   :0.5484   Mean   :0.01153           Mean   :0.1137
 3rd Qu.:1.0000   3rd Qu.:0.00000           3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.00000           Max.   :1.0000
 Tuition.fees.up.to.date     Gender       Scholarship.holder Age.at.enrollment
 Min.   :0.0000          Min.   :0.0000   Min.   :0.0000     Min.   :17.00
 1st Qu.:1.0000          1st Qu.:0.0000   1st Qu.:0.0000     1st Qu.:19.00
 Median :1.0000          Median :0.0000   Median :0.0000     Median :20.00
 Mean   :0.8807          Mean   :0.3517   Mean   :0.2484     Mean   :23.27
 3rd Qu.:1.0000          3rd Qu.:1.0000   3rd Qu.:0.0000     3rd Qu.:25.00
 Max.   :1.0000          Max.   :1.0000   Max.   :1.0000     Max.   :70.00
 International     Curricular.units.1st.sem..credited.
 Min.   :0.00000   Min.   : 0.00
 1st Qu.:0.00000   1st Qu.: 0.00
 Median :0.00000   Median : 0.00
 Mean   :0.02486   Mean   : 0.71
 3rd Qu.:0.00000   3rd Qu.: 0.00
 Max.   :1.00000   Max.   :20.00
 Curricular.units.1st.sem..enrolled. Curricular.units.1st.sem..evaluations.
 Min.   : 0.000                      Min.   : 0.000
 1st Qu.: 5.000                      1st Qu.: 6.000
 Median : 6.000                      Median : 8.000
 Mean   : 6.271                      Mean   : 8.299
 3rd Qu.: 7.000                      3rd Qu.:10.000
 Max.   :26.000                      Max.   :45.000
 Curricular.units.1st.sem..approved. Curricular.units.1st.sem..grade.
 Min.   : 0.000                      Min.   : 0.00
 1st Qu.: 3.000                      1st Qu.:11.00
 Median : 5.000                      Median :12.29
 Mean   : 4.707                      Mean   :10.64
 3rd Qu.: 6.000                      3rd Qu.:13.40
 Max.   :26.000                      Max.   :18.88
 Curricular.units.1st.sem..without.evaluations.
 Min.   : 0.0000
 1st Qu.: 0.0000
 Median : 0.0000
 Mean   : 0.1377
 3rd Qu.: 0.0000
 Max.   :12.0000
 Curricular.units.2nd.sem..credited. Curricular.units.2nd.sem..enrolled.
 Min.   : 0.0000                     Min.   : 0.000
 1st Qu.: 0.0000                     1st Qu.: 5.000
 Median : 0.0000                     Median : 6.000
 Mean   : 0.5418                     Mean   : 6.232
 3rd Qu.: 0.0000                     3rd Qu.: 7.000
 Max.   :19.0000                     Max.   :23.000
 Curricular.units.2nd.sem..evaluations. Curricular.units.2nd.sem..approved.
 Min.   : 0.000                         Min.   : 0.000
 1st Qu.: 6.000                         1st Qu.: 2.000
 Median : 8.000                         Median : 5.000
 Mean   : 8.063                         Mean   : 4.436
 3rd Qu.:10.000                         3rd Qu.: 6.000
 Max.   :33.000                         Max.   :20.000
 Curricular.units.2nd.sem..grade.
 Min.   : 0.00
 1st Qu.:10.75
 Median :12.20
 Mean   :10.23
 3rd Qu.:13.33
 Max.   :18.57
 Curricular.units.2nd.sem..without.evaluations. Unemployment.rate
 Min.   : 0.0000                                Min.   : 7.60
 1st Qu.: 0.0000                                1st Qu.: 9.40
 Median : 0.0000                                Median :11.10
 Mean   : 0.1503                                Mean   :11.57
 3rd Qu.: 0.0000                                3rd Qu.:13.90
 Max.   :12.0000                                Max.   :16.20
 Inflation.rate        GDP               Target
 Min.   :-0.800   Min.   :-4.060000   Length:4424
 1st Qu.: 0.300   1st Qu.:-1.700000   Class :character
 Median : 1.400   Median : 0.320000   Mode  :character
 Mean   : 1.228   Mean   : 0.001969
 3rd Qu.: 2.600   3rd Qu.: 1.790000
 Max.   : 3.700   Max.   : 3.510000

'data.frame':	4424 obs. of  37 variables:
 $ Marital.status                                : int  1 1 1 1 2 2 1 1 1 1 ...
 $ Application.mode                              : int  17 15 1 17 39 39 1 18 1 1 ...
 $ Application.order                             : int  5 1 5 2 1 1 1 4 3 1 ...
 $ Course                                        : int  171 9254 9070 9773 8014 9991 9500 9254 9238 9238 ...
 $ Daytime.evening.attendance.                   : int  1 1 1 1 0 0 1 1 1 1 ...
 $ Previous.qualification                        : int  1 1 1 1 1 19 1 1 1 1 ...
 $ Previous.qualification..grade.                : num  122 160 122 122 100 ...
 $ Nacionality                                   : int  1 1 1 1 1 1 1 1 62 1 ...
 $ Mother.s.qualification                        : int  19 1 37 38 37 37 19 37 1 1 ...
 $ Father.s.qualification                        : int  12 3 37 37 38 37 38 37 1 19 ...
 $ Mother.s.occupation                           : int  5 3 9 5 9 9 7 9 9 4 ...
 $ Father.s.occupation                           : int  9 3 9 3 9 7 10 9 9 7 ...
 $ Admission.grade                               : num  127 142 125 120 142 ...
 $ Displaced                                     : int  1 1 1 1 0 0 1 1 0 1 ...
 $ Educational.special.needs                     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Debtor                                        : int  0 0 0 0 0 1 0 0 0 1 ...
 $ Tuition.fees.up.to.date                       : int  1 0 0 1 1 1 1 0 1 0 ...
 $ Gender                                        : int  1 1 1 0 0 1 0 1 0 0 ...
 $ Scholarship.holder                            : int  0 0 0 0 0 0 1 0 1 0 ...
 $ Age.at.enrollment                             : int  20 19 19 20 45 50 18 22 21 18 ...
 $ International                                 : int  0 0 0 0 0 0 0 0 1 0 ...
 $ Curricular.units.1st.sem..credited.           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Curricular.units.1st.sem..enrolled.           : int  0 6 6 6 6 5 7 5 6 6 ...
 $ Curricular.units.1st.sem..evaluations.        : int  0 6 0 8 9 10 9 5 8 9 ...
 $ Curricular.units.1st.sem..approved.           : int  0 6 0 6 5 5 7 0 6 5 ...
 $ Curricular.units.1st.sem..grade.              : num  0 14 0 13.4 12.3 ...
 $ Curricular.units.1st.sem..without.evaluations.: int  0 0 0 0 0 0 0 0 0 0 ...
 $ Curricular.units.2nd.sem..credited.           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Curricular.units.2nd.sem..enrolled.           : int  0 6 6 6 6 5 8 5 6 6 ...
 $ Curricular.units.2nd.sem..evaluations.        : int  0 6 0 10 6 17 8 5 7 14 ...
 $ Curricular.units.2nd.sem..approved.           : int  0 6 0 5 6 5 8 0 6 2 ...
 $ Curricular.units.2nd.sem..grade.              : num  0 13.7 0 12.4 13 ...
 $ Curricular.units.2nd.sem..without.evaluations.: int  0 0 0 0 0 5 0 0 0 0 ...
 $ Unemployment.rate                             : num  10.8 13.9 10.8 9.4 13.9 16.2 15.5 15.5 16.2 8.9 ...
 $ Inflation.rate                                : num  1.4 -0.3 1.4 -0.8 -0.3 0.3 2.8 2.8 0.3 1.4 ...
 $ GDP                                           : num  1.74 0.79 1.74 -3.12 0.79 -0.92 -4.06 -4.06 -0.92 3.51 ...
 $ Target                                        : chr  "Dropout" "Graduate" "Dropout" "Graduate" ...

In [5]:
table(df$Target)

 Dropout Enrolled Graduate
    1421      794     2209

In [6]:
prop.table(table(df$Target))

  Dropout  Enrolled  Graduate
0.3212025 0.1794756 0.4993219

In [ ]:
tmp_df <- df
tmp_df$Target <- as.numeric(factor(tmp_df$Target))
str(tmp_df)

In [ ]:
png('corrplot.png', width=1000,height=1000)
M <- cor(tmp_df)
corrplot(M, method='color', type='lower', diag=FALSE)
dev.off()

In [ ]:
ggplot(df, aes(Target, Curricular.units.2nd.sem..approved.)) + geom_boxplot()

In [ ]:
#continuous variables: previous qualification (grade), admission grade, GDP, inflation rate, unemployment rate
ggplot(df, aes(Target, Admission.grade)) + geom_boxplot()

In [ ]:
ggplot(df, aes(Target, Previous.qualification..grade.)) + geom_boxplot()

In [ ]:
ggplot(df, aes(Target, Unemployment.rate)) + geom_boxplot()

In [ ]:
# map_df <- df
# #create csv file for tableau map
# cat_nation <- c('Portugal', 'Germany', 'Spain', 'Italy', 'The Netherlands', 'United Kingdom', 'Lithuania', 'Angola','Cape Verde', 'Guinea', 'Mozambique', 'São Tomé and Príncipe', 'Turkey', 'Brazil', 'Romania', 'Moldova', 'Mexico', 'Ukraine', 'Russia', 'Cuba', 'Colombia')
# map_df$Nacionality <- mapvalues(map_df$Nacionality, from=c(1,2,6,11,13,14,17,21,22,24,25,26,32,41,62,100,101,103,105,108,109), to=cat_nation)

# nation_table <- table(map_df$Target, map_df$Nacionality)
# map_nation_df <- as.data.frame(nation_table)
# colnames(map_nation_df) <- c('Target', 'Nacionality', 'Count')
# write.csv(map_nation_df, "tmp_academic_success.csv")

In [ ]:
#contingency tables
cat_df <- df
cat_marital <- c('single', 'married', 'widower', 'divorced', 'factor union', 'legally separated')
cat_df$Marital.status <- mapvalues(cat_df$Marital.status, from=c(1,2,3,4,5,6), to=cat_marital)

marital_table <- table(cat_df$Target, cat_df$Marital.status)
marital_table

cat_nation <- c('Portuguese', 'German', 'Spanish', 'Italian', 'Dutch', 'English', 'Lithuanian', 'Angolan','Cape Verdean', 'Guinean', 'Mozambican', 'Santomean','Turkish', 'Brazilian', 'Romanian', 'Moldova (Republic of)', 'Mexican', 'Ukrainian', 'Russian', 'Cuban', 'Colombian')
cat_df$Nacionality <- mapvalues(cat_df$Nacionality, from=c(1,2,6,11,13,14,17,21,22,24,25,26,32,41,62,100,101,103,105,108,109), to=cat_nation)

nation_table <- table(cat_df$Target, cat_df$Nacionality)
nation_table

In [ ]:
#bar plots of contingency tables
marital_df <- as.data.frame(marital_table)
colnames(marital_df) <- c('Target', 'Marital.status', 'Count')

ggplot(marital_df, aes(x=Target, y=Count, fill=Marital.status)) + geom_bar(position="dodge", stat="identity")

In [ ]:
nation_df <- as.data.frame(nation_table)
colnames(nation_df) <- c('Target', 'Nacionality', 'Count')

ggplot(nation_df, aes(x=Target, y=Count, fill=Nacionality)) + geom_bar(position="dodge", stat="identity")